# Ignore all __pycache__ folders
__pycache__/

# Ignore __pycache__ folders in specific directories
routers/__pycache__/
schemas/__pycache__/

# Ignore the lib folder inside .venv
.venv/lib/

# Other ignores
*.pyc
*.pyo
*.pyd
