
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stars */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 2s infinite;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 20px;
  color: #8bf;
}

h2 {
  font-size: 30px;
  color: #8bf;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

body {
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at 50.2% -175%, rgb(14, 72, 222) 5.2%, #010a1d 75.3%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 600px;
  max-width: 1200px;
  background-color: #063068;
  overflow: hidden;
  margin-bottom: 100px;
}

.header {
  padding: 10px;
  background-color: #042551;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-panel,
.right-panel {
  padding: 20px;
}

.left-panel {
  width: 50%;
  border-right: 1px solid #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-panel {
  width: 50%;
}

.create-button,
.switch-button,
.config-button,
.attach-button {
  margin-top: 20px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover,
.switch-button:hover,
.config-button:hover,
.attach-button:hover {
  background-color: #0056b3;
}

.message-box {
  margin-top: 20px;
  background-color: #3e3e3e;
  padding: 15px;
  border-radius: 4px;
}

.input-box {
  margin-top: 20px;
}

.right-panel h2 {
  margin-bottom: 20px;
  text-align: center;
}

.preview-box {
  background-color: #3e3e3e;
  border: 6px solid rgb(13, 62, 127);
  height: 400px;
  justify-content: center;
  align-items: center;
}

.preview-icon {
  width: 50px;
  height: 50px;
  background-color: #555;
}

.container1 {
  width: 100%;
  padding: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.container1 li {
  list-style: none;
  margin-left: 85px;
  text-align: center;
  display: inline;
}

.container1 li a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: #f2f2f2;
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
  font-family: "Inter", sans-serif;
}

.container1 li a:hover {
  background-color: #ddffd9;
  background-color: #091e9627;
  color: rgb(210, 210, 210);
}

/* SHIFT */
nav.shift ul li a {
  position: relative;
  z-index: 1;
}

nav.shift ul li a:hover {
  color: #ffffff;
  font-size: 20px;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  border-radius: 3px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.wrapper {
  margin-top: 70px;
}

.editor_container {
  margin-left: 10%;
  border: 6px solid rgb(13, 62, 127);
  border-radius: 5px;
  
  width: 1000px;
  margin: 0 auto;
  height: 300px; /* Set a fixed height */
  overflow-y: auto; /* Make it scrollable */
}

.ck-editor__editable {
  height: 70vh;
  border: 2px solid #007bff;
  background-color: rgb(86, 92, 160);
}

.form-controls {
  font-size: 15px;
}

.dropdown,
.gender,
.income {
  margin-bottom: 20px;
}

.switch-button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(16, 46, 177);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #2824af;
  font-weight: bolder;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active,
.dot:hover {
  background-color: #ffffff;
} */

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.chatBot {
  border: 3px solid #143077;
  margin-top: -30px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: 30px auto;
  overflow: hidden;
  width: 500px;
  overflow-y: clip;
  height: 513px;
  background: rgb(255, 255, 255);
  background-size: contain;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background-color: #0f207f;
  text-align: center;
  padding: 0px 0;
  border-radius: 7px 7px 0 0;
}

header h2 {
 

 color: #fff;
  margin: 0;
}

.chatbox {
  padding: 15px;
  list-style: none;
  overflow-y: auto;
  height: 300px;
}

.chatbox li {
  margin-bottom: 10px;
}

.chat p {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-outgoing p {
  background-color: #162887;
  align-self: flex-end;
  color: #fff;
}

.chat-incoming p {
  background-color: #eaeaea;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  width: 522px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  resize: none;
  outline: none;
  overflow-y: scroll;
  background-color: #dcdcdc85;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-top: -10px;
  margin-left: -15px;
  height: 71px;
}

#cross {
  float: right;
  position: relative;
  top: -38px;
  left: -15px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 28px;
}

#cross:hover {
  color: red;
  transition: all 0.5s;
}

.chatbox .chat p.error {
  color: #ffffff;
  background-color: #ff3737e8;
}

#sendBTN {
  width: 100%;
  padding: 8px;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #2a37ea;
  cursor: pointer;
  color: white;
  margin-top: 12px;
}

.lastMessage {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
  color: darkgreen;
  margin-left: 550px;
}

.welcome-back {
  margin: 35px auto;
  background: #ccc;
  border-radius: 12px;
  padding: 25px;
}

.welcome-back h2 {
  margin: 0 0 35px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
}

.welcome-back button {
  font-size: 2em;
  background: #20232a;
  color: rgb(97, 218, 251);
  border: none;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  border-radius: 12px;
  transition: 0.3s;
}

.welcome-back button:hover {
  color: #fff;
  background: #000;
}

.welcome-back > p {
  font-size: 1.2em;
  text-align: center;
  margin: 0 0 25px;
  color: #980000;
}

.welcome-back p.downloading {
  font-size: 2em;
  color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

.tabs {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 5px 10px 5px #fffefe;
}

.tabs .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.tabs .tab-header > div {
  width: calc(100% / 4);
  text-align: center;
  color: #1b1313;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}

.tabs .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}

.tabs .tab-header > div.active {
  color: #251f1f;
}

.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 4);
  height: 5px;
  background: #00acee;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.tabs .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}

.tabs .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}

.tabs .tab-body > div.active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
}
